<div class="wrapper-login">
  <form method="POST" action="/login">
  <span class="login-forms">
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your email">
  </span>
  <span class="login-forms-pwd">
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your Password">
  </span>
  <span class="login-btn">
    <button type="submit" class="btn btn-primary">Log In</button>
  </span>
  </form>
</div>



{{!-- Conditionally render the msg --}}
{{#if msg}}
 <div class="error">{{msg}}</div>
{{/if}}