<div class="wrapper-top">
  <a class="logo" href="/"><button type="button" class="btn btn-warning"><img src="images/logo.png" alt="logo"></button></a>
  <h1>Let's be a Anime Geek</h1>
</div>

<div class="wrapper-signup">
  <form action="/signup" method="POST" class="wrapper-forms">
    <span class="signup-forms">
      <label>Name</label>
      <input name="name" type="text" placeholder="Enter your name">
    </span>

    <span class="signup-forms">
      <label>Email</label>
      <input name="email" type="email" placeholder="Enter your email">
    </span>

    <span class="signup-forms-pwd">
      <label>Password</label>
      <input name="password" type="password" placeholder="Enter your Password">
    </span>

    <span class="signup-btn">
      <button type="submit" class="btn btn-warning" >Sign Up</button>
    </span>
  </form>
</div>

{{!-- Conditionally render the msg --}}
{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}