<div class="wrapper-signup">
  <form action="/signup" method="POST">
  <span class="signup-forms">
    <label>Name</label>
    <input name="name" type="text" placeholder="Enter your name">
  </span>
  <span class="signup-forms">
    <label>Email</label>
    <input name="email" type="email" placeholder="Enter your email">
  </span>
  <span class="signup-forms">
    <label>Password</label>
    <input name="password" type="password" placeholder="Enter your Password">
  </span>
  <span class="signup-btn">
    <button type="submit" >Sign Up</button>
  </span>
  </form>
</div>

{{!-- Conditionally render the msg --}}
{{#if msg}}
 <div class="error">{{msg}}</div>
{{/if}}