<div class="wrapper-top">
  <a class="logo" href="/"><button type="button" class="btn btn-warning"><img src="images/logo.png" alt="logo"></button></a>
  <h1 class="about-top">About us</h1>
  <a href="/profile"><button type="button" class="btn btn-warning back-profile-btn">Back to my Profile</button></a>
</div>

<div class="container-about">
  <div class="wrap-card">
    <div class="card">
      <img src="/images/lupita.png" class="card-img-top" alt="lupita">
      <div class="card-body">
        <h2 class="card-title">Luisa Egoavil</h2>
        <a class="btn btn-primary" href="https://github.com/LuisaEgoavil">profile</a>
      </div>
    </div>
    <div class="arrow-left">
      <p>Hello Animeekers, thank you very much for using our app! 👩‍💻 my name is Luisa but everyone calls me Lupita, I am a violin major and now a developer! As a violin teacher/performer I strongly recommend you to watch "Nodame Cantabile"! Such an amazing anime to add it to your watchlist in Animeek 🤩</p>
    </div>
  </div>

  <div class="wrap-card">
    <div class="card">
      <img src="/images/megumi.png" class="card-img-top" alt="megumi">
      <div class="card-body">
        <h2 class="card-title">Megumi Kawagoe</h2>
        <a class="btn btn-primary" href="https://github.com/Megumikawa">profile</a>
      </div>
    </div>
    <div class="arrow-right">
      <p>Hello Animeekers, thank you for using and I'm glad if you enjoy this website!</p>
      <p>Did you find somthing your favorite? If not, I recommend you "The Dragon Ball". This is my favorite anime. Especially, I'm addicted the series "Dragonball Sper"</p>
      <p>I wish you like it as well.</p>
    </div>
  </div>
</div>


