<div class="card" style="width: 18rem;">
  <img src="/images/lupita.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Luisa Egoavil</h5>
    <p class="card-text">Hello Animeekers, thank you very much for using our app!  </p>
    <a href="/about" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/megumi.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Megumi Kawagoe</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/about" class="btn btn-primary">Go somewhere</a>
  </div>
</div>