<div class="wrapper-top">
  <a class="logo" href="/"><button type="button" class="btn btn-warning"><img src="images/logo.png" alt="logo"></button></a>
</div>

<h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2>
