<div class="wrapper-index">
  <h1>{{title}}</h1>
  <p>This page description gonna be here............</p>

  <a href="/signup"><button type="button" class="btn btn-warning">I am not an anime geek</button></a>
  <a href="/login"><button type="button" class="btn btn-warning">Already an anime geek?</button></a> 
</div>