<div class="not-found-page">
  <div class="wrapper-top">
    <a class="logo" href="/"><button type="button" class="btn btn-warning"><img src="images/logo.png" alt="logo"></button></a>
    <h1>404 Error</h1>
  </div>
  <div class="error-main">
    <h2>Sorry... page not found</h2>
    <img class="error-img"src="images/pikachu.png" alt="pikachu">
  </div>
</div>
