<h1>Hello {{email}}!,</h1>
<h5>this is your Watchlist so far:</h5>

<form method="POST" action="/delete">
 
  <button type="submit" name="deletebtn">Delete</button>
</form>

<form method="POST" action="/add">
  
  <button type="submit" name="addbtn">Add another anime to your Watchlist!</button>
</form>

