<div class="wrapper-top">
  <a class="logo"><button type="button" class="btn btn-warning"><img src="images/logo.png" alt="logo"></button></a>
  <h1>Hello {{name}}!</h1>
  <a class="logout" href="/logout"><button type="button" class="btn btn-danger btn-sm">Logout</button></a>
</div>

<div class="wrapper-profile">
  <h2>This is your Watchlist so far:</h2>

  
  <form method="POST" action="/delete">
    <button href="/delete" type="button" class="btn btn-warning">Delete</button>
  </form>
  <a href="/info/add" class="btn btn-warning">Add another anime to your Watchlist!</a>
</div>










