<a href="/logout"><button type="button" class="btn btn-warning">Logout</button></a>

<h1>Hello {{email}}!</h1>
<h5>this is your Watchlist so far:</h5>


 <img src={{this.images.url}}>
<p>{{this.synopsis}}</p>
<p>Episode:{{this.episodes}}</p>


<form method="POST" action="/delete">
  <button href="/delete" type="button">Delete</button>
</form>

<form method="POST" action="/search">
  <button href="/add" type="submit" name="addbtn">Add another anime to your Watchlist!</button>
</form>













