body {
  width: 100%;
  padding: 20px 70px 10px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Truculenta', sans-serif;
  background-color:  rgb(255, 209, 183);
}

a {
  color: #00b7ff; 
}

h1 {
  color: 15px; 
  text-align: center;
  margin-top: 2% auto;
  padding: 0 30% 0 18%;
  font-size: 70px;
  white-space: nowrap;
}

/* -----layout Page----- */
.wrapper-top {
  display: flex;
  width: 84%;
  margin: 0 auto;
  justify-content: space-between;
}

.wrapper-top img {
  width: 80px;
  height: auto;
}

.wrapper-top .logo .btn-warning {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0;
  border-radius: 40px;
}

/* -----index Page----- */
.wrapper-index {
  width: 80%;
  margin: 2% auto;
}

.wrapper-index h1 {
  text-align: center;
  margin-top: 60px;
}

.wrapper-index p {
  margin: 50px 0 20px;
  text-align: center;
}

.index-btn {
  margin: 4% 0 0;
  display: flex;
  justify-content: center;
}

.index-btn a {
  margin: 0 70px 0;
}

.index-btn button {
  padding: 20px 30px;
}

.top-nav ul {
  list-style: none;
  display: flex;
}

.anime-img {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.carousel-indicators {
  top: 104%;
}

.index-main p {
  font-size: 30px;
}

.index-main button {
  font-size: 20px;
}

/* -----Sign Up & Log in Page----- */
.wrapper-forms {
  width: 50%;
  margin-left: 16%;
}

.wrapper-signup,
.wrapper-login {
  margin: 5% auto ;
  display: flex;
  justify-content: center;
}

.signup-forms,
.login-forms {
  display: block;
  margin: 4% 0;
}

.signup-forms label,
.login-forms label {
  padding: 20px;
  font-size: 30px;
  margin-right: 12%;
}

.signup-forms-pwd label,
.login-forms-pwd label {
  padding: 20px;
  font-size: 30px;
  margin-right: 7%;
}

.signup-btn,
.login-btn {
  display: block;
  text-align: center;
  margin: 20% 0;
}

.signup-btn {
  margin-bottom: 2%;
  margin-top: 8%;
}

.signup-btn button,
.login-btn button {
  padding: 16px 30px;
  font-size: 20px;
  margin-right: 36%;
}

.signup-forms input,
.signup-forms-pwd input,
.login-forms input,
.login-forms-pwd input {
  width: 260px;
  height: 40px;
}

.signup-forms input::placeholder,
.signup-forms-pwd input::placeholder,
.login-forms input::placeholder,
.login-forms-pwd input::placeholder {
  font-size: 20px;
  padding-left: 2%;
}



.login-footer {
  margin-top: 6%;
}

/* -----Profile Page----- */
.profile-top {
  padding: 0 17% 0 24%;
}

.profile-logo {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}


.logout button {
  padding: 18% 24%;
  font-size: 14px;
  margin-top: 30%;
}

.add-list-btn {
  height: fit-content;
  padding: 16px 12px;
  margin-right: 40px;
  white-space: nowrap;
  font-size: 20px;
}

.wrapper-profile {
  width: 76%;
  margin: 4% auto 0;
}

.wrapper-profile h2 {
  display: inline-block;
  padding-left: 20%;
  margin-bottom: 6%;
  text-align: center;
}

.favorite-list {
  margin-bottom: 4%;
  background-color: #f9624a40;
  padding: 2%;
  border-radius: 10px;
}

.watch-list h3{
  margin-bottom: 6%;
  border-bottom: double 5px #ec8530;
  text-align: center;
  padding-top: 3%;
}

.watch-list p {
  padding: 0 8% 0 4%;
  font-size: 18px;
}

.watch-list .synopsis {
  margin-bottom: 4%;
}


.wrapper-profile .btn {
  margin: 1% 1% 1% 80%;
  padding: 10px 20px;
  font-size: 20px;
}

/* -----search Page----- */

.search-top h1 {
  padding: 0 14%;
  white-space: nowrap;
}

.back-profile-btn {
  padding: 16px 12px;
  margin-right: 40px;
  white-space: nowrap;
  font-size: 20px;
}

.search-logout button{
  padding: 18% 24%;
  font-size: 14px;
  margin-top: 30%;
}

.search-box {
  margin: 4% 0;
}

.search-box label {
  font-size: 32px;
  margin-right: 1%;
}

.search-box form {
  width: 80%;
  margin: 6% auto 0;
  display: flex;
  justify-content: center;
}

.search-box .btn {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.search-box input {
  width: 50%;
}

.wrapper-search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-result {
  margin-bottom: 2%;
  margin-right: 1%;
  width: 48%;
  background-color: #f9624a40;
  padding: 2%;
  border-radius: 10px;
}

.watch-list h5 {
  font-size: 20px;
  text-align: center;
  border-bottom: double 5px #ec8530;
  margin-bottom: 4%;
}

.watch-list p {
  margin-bottom: 3%;
}

.watch-list .more {
  margin-left: 3%;
}

.watch-list button {
  margin-left: 70%;
  font-size: 20px;
  border: 2px solid rgb(255, 220, 106);
  padding: 2% 4%;
}

/* -----footer----- */
footer {
  text-align: center;
  margin-top: 3%;
}

footer p {
  padding-top: 2px;
  display: inline-block;
  margin: 0;
}

/* -----About Page----- */
.about-title {
  padding: 0 40% 0 16%;
}

.about-footer {
  margin-top: 4%;
}

/* -----aboutus.hbs page----- */
.aboutus-title {
  padding: 0 20% 0 35%;;
}

.aboutus-footer {
  margin-top: 4%;
}

.container-about {
  width: 60%;
  margin: 2% auto 0;
}

.wrap-card {
  display: flex;
}

/* .card-body {
  background-color:  rgb(255, 209, 183);
} */

.wrap-card:first-child {
  margin-bottom: 2%;
}

.wrap-card:nth-child(even) {
  flex-direction: row-reverse;
}

.wrap-card:nth-child(even) .img {
  margin: 0 0 0 20px;
}

.card {
  width: 288px;
  height: auto;
  background-color: rgb(255, 183, 142);
}

.card h2 {
  text-align: center;
  font-size: 28px;
}

.card .btn {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #000;
  margin: 1% 34% 0;
  padding: 2% 5%;
}

.wrap-card p {
  text-align: left;
}

.arrow-left{
  margin: 4% 0 0 10%;
  position:relative;
  width:60%;
  height: 30%;
  background: radial-gradient(#F2B9A1, #EA6264);
  padding:10px;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

.arrow-left:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(0, 153, 255, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:10px;
  border-right-width:10px;
  margin-top: -10px;
  border-right-color:#EA6264;
  right:100%;
  top:50%;
}

.arrow-right{
  margin: 8% 10% 0 0;
  position:relative;
  width:50%;
  height:30%;
  background: radial-gradient(#F2B9A1, #EA6264);
  padding:10px;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

.arrow-right:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(0, 153, 255, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:10px;
  border-right-width:10px;
  margin-top: -10px;
  border-left-color:#EA6264;
  left:100%;
  top:50%;
}

/* -----404 Page----- */
.not-found-page h1 {
  padding: 0 38% 0 10%;
}
.error-main {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10% auto 6%;
}

.error-main h2 {
  padding: 14% 10% 0 0;
  font-size: 50px;
}

.error-img {
  width: 50%;
  height: auto;
}
/* # sourceMappingURL=style.css.map */